@charset "utf-8";
*{
	padding: 0;
	margin: 0;
}

#box{
	width:240px;
	height: 400px;
	background-color #333;
	
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#box #screen{
	width: 240px;
	background-color :black;
	height: 100px;
	color: white;
	font-size: 20px;
	line-height: 100px;
	text-align: right;
}

#box a{
	float: left;
	width: 60px;
	height: 60px;
	background: lightgray;
	color: black;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
}
#box a:nth-child(2){
	width:180px;
}
#box a:nth-child(16){
	width:120px;
}


